@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

nav{
    border-bottom: #942222 2px solid;
    
}
.logo{
  font-size: xx-large;
  color: #ffffff;
  background-image: linear-gradient(to bottom left,#942222,#e45aa6,#942222);
  padding: 5px;
  letter-spacing: 2px;
  font-family: 'Lobster';
  border-radius: 50%;
}
.menu{
    display: block;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .4s;
}
.menu::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: #942222 2px solid;
  transition: all .35s;
}
span{
    position: relative;
    z-index: 2;
}
.menu:hover{
   color: #942222;
    
}
.menu:hover::after{
    width: 100%;
}
.btn:hover{
    box-shadow: 3px 3px 5px #000;
}

th{
    height: 50px;
    border-bottom:2px solid #a42626;
    text-align: center;
}
th,td{
    text-align: center;
}
.btnn{
    color: #a42626;
    background-color: #fff;
    border: 2px solid #a42626;
    border-radius: 40%;
}
.btnn:hover{
    box-shadow: 2px 2px 4px #000;
    color:#ffffff;
    background-color: #097200;
    border: 2px solid #a42626;
}
.btnn.del:hover{
    background-color: #a80600;
}

.confirm-box{
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
  }
  
  
  .popuptext{
    letter-spacing: 1px;
    text-align: center;
    border-radius: 15px;
     border: #530000 2px solid;
     box-shadow: #770a0a 2px 2px 4px;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: #ffffff;
    text-shadow: #000 2px 2px 4px;
    background-color: #a85858;
    
  }
  
  
  .popuptext .btn{
    margin: 25px;
    font-weight: 500;
    background-color: #ffffff;
  }
  .popuptext .btn:hover{
    box-shadow: #000 2px 2px 4px;
  }
 h3 i{
    font-size: larger;
    margin: 10px;
    transition: all .35s;
  }
  h3 i:hover{
    color: #942222;
  }
  .activeOpt{
    color: #942222;
    border-bottom: #942222 2px solid;
    display: block;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
  }
  .navbar{
    padding: 0;
    background-color: #f1f1f1;
  }
  .empDetail{
    position: relative;
   
   }

   .contain{
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: #000 2px 2px 4px;
    margin:50px;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  .scroll{
    height: 50vh;
    width: 100%;
   overflow-y: scroll;
  }

   h1{
    padding: 20px;
  background: -webkit-linear-gradient(bottom left,#942222,#e45aa6);
  background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
   }
   .booltext{
     position: absolute;
     top:30px;
     right: 10px;
     width: 250px;
      border-radius: 15px;
     background-color: #4b4a4abd;
     box-shadow: 2px 2px 4px #000;
     color: #f1f1f1;
   }