<p-toast></p-toast>

<div class="contain">
    <img src="../../assets/img/fruit-g1a8c61297_1920.jpg" alt="background">
    <div class="form-row">
        <form [formGroup]="logform" (ngSubmit)="onSubmit()"class="p-grid p-fluid">
            <h3>Employee Login</h3>

        
            <div class="p-col-12 ">
                <div class="p-inputgroup inpbox">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                    <input type="email" id="email" formControlName="email" pInputText placeholder="E-mail">         
                   
                </div>
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert ">

                    <div *ngIf="f['email'].errors && f['email'].errors['required']"><i class="fa-solid fa-circle-exclamation"></i> Invalid error</div>

                </div>
               
            </div>
            
            <div class="p-col-12 ">
                <div class="p-inputgroup inpbox">
                    <span class="p-inputgroup-addon"><i class="pi pi-ellipsis-h"></i></span>
                    <input type="password" id="password" formControlName="password" pInputText placeholder="Password">        
                </div>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="alert ">

                    <div *ngIf="f['password'].errors && f['password'].errors['required']"><i class="fa-solid fa-circle-exclamation"></i> Invalid error</div>

                </div>
            </div>
           

          

        <a routerLink="/signup" class="link" >New here ? Click me.</a>
            <button class="btn btn-primary" type="submit" [disabled]="logform.invalid">Log in</button><br>
            
        </form>
    </div>
    
    
</div>


