
     <nav class="navbar navbar-expand sticky-top">
    <div class="container-fluid px">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="logo">V-Shop</div>
        <ul class="navbar-nav  gap-2">
           <li routerLink="/home" class="m-3 menu">Home</li>
          <li routerLink="/bill" class="m-3 activeOpt">Billing</li>
            <li routerLink="/cusEmp" class="m-3 menu">Customer list</li>
            
        </ul>
        <ul class="navbar-nav ms-md-auto gap-2">
            <li routerLink="/login" class="m-3 menu">Logout</li>
        </ul>
        <h3 class="profile" (click)="mydetail()"><i class="fa-solid fa-circle-user"></i></h3>
          <div *ngIf="popup" class="empDetail">
              <div  class="popuptext p-3">
                   <h5>Employee name : &nbsp; {{EmpId?.name}}</h5>
                     <h5>Employee Id :  &nbsp;{{EmpId?.id}}</h5>
              </div>
      </div>
    </div>
    </div>
  </nav> 

 
 
<div class="container-fluid row" >
 <p-toast></p-toast>

    
<div class="left col-md-12 col-lg-6 col-sm-12 my-3 ">

    <div class="w-100 h-100 bill-cont px-5 ">

        <button type="button" class ="btn mary " (click)="show()">Link Customer</button>
        <button type="button" class ="btn mary " (click)="showAdd()">Add Customer</button>
        <br>

             
             <div class="cus"> Customer name : &nbsp; {{CusId?.name}}<br>
         Customer number :  &nbsp;{{CusId?.contact}}</div>

            <div class="scroll">
            <table class="table " scope="row">
            <thead class="sticky-top tabHead bg-white ">
                <th scope="col">PRODUCT</th>
                <th scope="col">PRICE /Kg</th>
                <th scope="col">QUANTITY /Kg</th>
                <th scope="col">PRICE</th>
                <th scope="col">ACTION</th>
                
            </thead>
            <tbody *ngIf="billProduct.length > 0">
                <tr  *ngFor="let bill of billProduct" scope="row">
                <td class="pt-3">{{bill.proName}}</td>
                <td class="pt-3">{{bill.price |currency:"INR":"symbol"}}</td>
                <td class="pt-3">{{bill.tQty}}</td>
                <td class="pt-3">{{bill.amount |currency:"INR":"symbol"}}</td>
                <td> <button class="btn btnn del" (click)="deleteInfo(bill.proName)"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
            </tbody>
            <br>
             
        </table> 
                </div>
        
        
        <div class="container-fluid amount"><strong>Total Price</strong>  <span> <strong>{{add | currency:"INR":"symbol"}}</strong></span></div><br>
       <div class="row">
        
        <form [formGroup]="discount" class="dis-cont col-6">
            <label for="discount">Discount: </label>
        <input class="discount" type="number" placeholder="  %" formControlName="count" (change)="discountCal()"><i class="fa-solid fa-percent"></i><br>
        </form>
        <div class="container-fluid total col-6"><strong>Payable Amount {{dPrice | currency:"INR":"symbol"}}</strong></div>
       </div>
        
       <div class="save">
        <button type="button" class ="btn mary m-3" (click)="total()">Confirm</button>
        <button type="button" class ="btn mary m-3" (click)="print()">Print</button>
       </div>

       <br><br><br>
    
    </div>

   



</div>

<div class="right col-md-12 col-lg-6 col-sm-12 my-3">

    <div class=" pro-cont h-100 w-100">
       
       
        <h1>Product list</h1>
        

    <div class="product row">
        
        <div class="col-sm-5 col-md-4 col-lg-4 card-cont" *ngFor="let arr of prod">
         
         <div class="card cbox">
                <div class="cimg">
                    <img src="../../assets/img/{{arr.proName}}.jpg" class="card-img-top h-100" >
                </div>
                
                <div class="card-body h-100 w-100">
                  <h6 class="card-title">{{arr.proName | uppercase}}</h6>
                  <p class="card-text">{{arr.qty}} Kg = {{arr.price|currency:"INR":"symbol"}}</p>
                    <form [formGroup]="Qty">
                  <label for="totalQty ">Quantity: </label>
                  <input class="inp" type="number" id="totalQty" formControlName="tQty" >
                  <button type="button" (click)="addbill(arr)" class="inpbtn">add</button>
                </form>
                </div>
                
        </div>
        </div>
    </div>

</div>
</div>




</div>
<br>
    <footer class="bg-white">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-4 col-md-3 option">
                <h3>Services</h3>
                <ul>
                    <li><a href="#" class="optn">Web design</a></li>
                    <li><a href="#" class="optn">Development</a></li>
                    <li><a href="#" class="optn">Hosting</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 option">
                <h3>About</h3>
                <ul>
                    <li><a href="#" class="optn">Company</a></li>
                    <li><a href="#" class="optn">Team</a></li>
                    <li><a href="#" class="optn">Legacy</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 option">
                <h3>Careers</h3>
                <ul>
                    <li><a href="#" class="optn">Job openings</a></li>
                    <li><a href="#" class="optn">Employee success</a></li>
                    <li><a href="#" class="optn">Benefits</a></li>
                </ul>
            </div>
            <div class="col-lg-3 ">

                <br>
               
                <p class="copyright">Company Name © 2018</p> 
                 <a href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C550525804791%7Ce%7Cfacebook%7C&placement=&creative=550525804791&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1001394929%26loc_physical_ms%3D1007809%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjwwo-WBhAMEiwAV4dybcRNplziHRmILzOpafh88EO0p3U2ZjxRuQx__DccOIwew6XUOUlLTxoCj_cQAvD_BwE"> <i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/i/flow/login"> <i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
             
               
            </div>
        </div>
    </div>
</footer>

