<div class="row">
    <div class="col-4">
        <i class="fa-solid fa-circle-user"></i>
    </div>
    <ul class="col-4">
                    <li>Employee name </li>
                    <li>Contact </li>
                    <li>E-mail </li>
                    <li>Bill count </li>
    </ul>
    <ul class="col-4">
                    <li>: {{empdata.name}}</li>
                    <li>: {{empdata.contact}}</li>
                    <li>: {{empdata.email}}</li>
                    <li>: </li>
    </ul>
    </div>


